# Binary targets
target
*~

# Intellij metadata files
*.idea
*.ids
*.iml
*.eml
*.ids
*.imp
*.ipr
*.iws

# Eclipse metadata files
.project
.settings
.classpath
.pydevproject

# Apple system files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Local files
archive
systems/execution/lonestar4.tacc.teragrid.org.json
systems/execution/stampede.tacc.utexas.edu.json
systems/live-execution
systems/live-storage
api_sample_user
apps/docker-demo/archive
apps/docker-demo/custom-images
apps/docker-demo/docker-runner-1.1.2
apps/docker-demo/generic-runtimes
apps/docker-demo/run-from-github
apps/docker-demo/science-app-images
apps/pyplot-demo/advanced/pyplot-demo-advanced-0.1.0/live

apps/pyplot-demo/archive
apps/docker-runner-1.1.2
